
@{
    ViewBag.Title = "Faculty_Dashboard";
}

<div class="jumbotron">
    <h1>Faculty Dashboard</h1>
    @if (Session["facultyId"] != null)
    {
        <p class="lead">Welcome @Session["facultyName"].ToString()</p>
        @Html.ActionLink("Edit Details", "Faculty_Edit", new { id = Convert.ToInt32(Session["facultyId"]) })
    }
</div>
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Assignment_Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" />
            <input type="submit" value="Upload" />
        }
    </div>
</div>
<div>
    @Html.ActionLink("Uploaded Assignments", "Assignment_Read")
</div>

